* {
  box-sizing: border-box;
}
/* main page styling */


#framecontent{
  position: absolute;
  top: 0;
  bottom: 0; 
  left: 0;
  width: 300px; 
  height: 100%;
  overflow: hidden; 
  background: navy;
  color: white;
  opacity: 0.65;
}
img{
  height: 150px;
  width: 200px;

}
.info{
  font-size: 20px;
  margin-left: -100px;
}
.innertube{
  text-align: center;
}

.info ul{
  list-style-type: none;
  overflow: hidden;
}

li{
  font-family: 'Open Sans', sans;
  margin: 25px;
}

li a{
  text-decoration: none;
  color: #ffffff;
}

li a:hover, a:active{
  color: #0000ff;
}

p{
  font-family: 'Bungee Inline', cursive;
	position: relative;
	font-size: 18px;
}

.media{
  position: relative;
  padding: 5px;
}

h1{
  font-family: 'Bungee Inline', cursive;

}
h2{
	font-family: 'Bungee Inline', cursive;
	font-size: 50px;
	color:  #009900;
	width: 800px;
  position: relative;
  left: 550px;
}

i{
  margin: 10px;
}

i:hover{
  color: #ff1a1a;
}

@media all and (max-width: 1024px) {
	
  #framecontent{
    position: relative;
    left: 0;
    width: 100%;
    height: 210px;
    margin-left: 0;
    overflow: hidden;
  }

  #maincontent{
    position: relative;
    left: 0;
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  img{
    float: left;
    position: relative;
    left: 100px;
  }

  .info{
    margin-left: 0px;
  }
  .innertube{
    text-align: center;
  }

  .info ul{
    list-style-type: none;
    overflow: hidden;
  }

  li{
    display: inline-block;
    margin: 25px;
  }

  h2{
    font-family: 'Bungee Inline', cursive;
    font-size: 30px;
    color:  #009900;
    width: 100%;
    float: left;
    clear: left;
    margin-left: -550px;
  }
  
  .media{
    float: right;
    width: 100px;
    position: relative;
    bottom: 220px;
  }
  
  i{
    margin: 3px;
  }

}

@media all and(max-width: 480px){
  #framecontent{
    position: relative;
    left: 0;
    width: 100%;
    height: 270px;
    margin-left: 0;
    overflow: hidden;
  }

  #maincontent{
    position: relative;
    left: 0;
    width: 100%;
    height: auto;
    margin-left: 0;
  }

  .info{
    margin-left: 0px;
  }
  .innertube{
    font-family: 'Bungee Inline', cursive;
    text-align: center;
  }

  .info ul{
    list-style-type: none;
    overflow: hidden;
  }

  li{
    display: inline-block;
    margin: 25px;
  }

  h2{
    font-family: 'Bungee Inline', cursive;
    font-size: 30px;
    color:  #009900;
    width: 100%;
    float: left;
    clear: left;
    margin-left: -550px;
  }
  
  .media{
    display: none;

  }


