* {
  box-sizing: border-box;
}
/* main page styling */


html {
 
  font-family: 'Open Sans', sans;
}


body{
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%; 
  max-height: 100%; 
}

#framecontent{
  position: absolute;
  top: 0;
  bottom: 0; 
  left: 0;
  width: 200px; 
  height: 100%;
  overflow: hidden; 
  background: navy;
  color: white;
}

#maincontent{
  position: fixed;
  top: 0; 
  left: 200px; 
  right: 0;
  bottom: 0;
  overflow: auto; 
  background: #fff;
}

.innertube{
  margin: 15px; 
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: sub;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clr {
  clr: both;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}
